@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Bondoni';
    src: url('../assets/fonts/BOD_R.TTF');
}
.bg-city{
    background: url('../assets/image/city-gaskuy.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
}
